.reel-card {
    background-color: black;
    width: 600px;
    height: 400px;
    margin-bottom: 30px;
    color: white;
  }
  
  .image-wrapper {
    width: 600px;
    height: 400px;
    margin: 0 auto;
    position: absolute;
    z-index: -1;
    overflow: hidden;
  }
  
  .image-wrapper img {
    width: 600px;
    height: 400px;
    object-fit: cover;
  }
  
  .content-wrapper {
    padding: 0 20px;
    text-align: center;
  }
  