@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

nav {
  background-color:white;
  margin-bottom: 40px;
  font-family: 'Neucha', cursive;
}

nav .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo img {
  width: 15vh;
}

.nav-list {
  list-style: none;
  display: flex;
  align-self: center;
  margin: 0;
}

.nav-item {
  margin-right: 10px;
  cursor: pointer;
}

.nav-link {
  display: block;
  color: black;
  padding: 10px;
  text-decoration: none;
  transition: 0.1 linear;
}

.nav-link:hover,
.nav-link.active {
  transform: scale(1.5);
}
