@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
h1 {
    font-size: 60px;
    /* color: #C6A39E;  */
    color: #D8887D;
    /* color: #A6503C;  */
    font-family: 'Neucha', cursive;

}
.float {
    position: relative;
    padding-bottom: 100px;
    top: -107px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
