@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

h4 {
  font-family: 'Neucha', cursive;
  font-size: 25px;
}

.bio-cards-wrapper {
  margin-left: 80px;
  background-color: black;
  display: flex;
  width: 80%;
}

.bio-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  width: 100%;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  padding: 20px;
}

.bio-content-wrapper {
  margin-top: -90px;
  text-align: justify;
}
