.video-card {
  margin-top: 60px;
  background-color: rgba(0, 0, 0, 0.3);
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 250px;
  margin-bottom: 30px;
  color: white;
  transition: 0.1s linear;
}

.video-card:hover {
  transform: scale(1.1);
}

.image-wrapper {
  width: 200px;
  height: 250px;
  margin: 0 auto;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

.image-wrapper img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}

.content-wrapper {
  padding: 0 20px;
  text-align: center;
}
